body.dark {
  --main-background: hsl(222, 26%, 31%);

  // Section colors
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --keypad-background: hsl(223, 31%, 20%);

  // Keypad colors
  --key-background: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --key-primary-background: hsl(6, 63%, 50%);
  --key-primary-shadow: hsl(6, 70%, 34%);
  --key-accent-background: hsl(225, 21%, 49%);
  --key-accent-shadow: hsl(224, 28%, 35%);

  // Text colors
  --text-clr-primary: hsl(221, 14%, 31%);
  --text-clr-secondary: hsl(0, 0%, 100%);
}

body.light {
}

body.dark--purple {
}
