@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

@import './_themes.scss';
@import './_css-reset';

body {
  background-color: var(--main-background);
  padding: 1rem;
  font-family: 'Spartan', sans-serif;
}

* {
  transition: background-color 0.25s, box-shadow 0.25s;
}

.calculator {
  $sectionBorderRadius: 0.5rem;
  $sectionPadding: 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin-inline: auto;
  gap: 1.5rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h1 {
      color: var(--text-clr-primary);
    }

    .theme-container {
      display: flex;
      align-items: flex-end;
      color: var(--text-clr-primary);
      gap: 1.5rem;

      .theme-toggler {
        display: flex;
        flex-direction: column;

        &__labels,
        &__controllers {
          display: grid;
          grid-template-columns: repeat(3, 18px);
          padding: 0.25rem;
          gap: 0.5rem;
          text-align: center;
        }

        &__controllers {
          border-radius: 2rem;
          background-color: var(--toggle-background);

          div {
            position: relative;
            cursor: pointer;
          }

          div:hover::after,
          .active::after {
            content: '';
            display: block;
            border-radius: 100%;
            background-color: var(--key-primary-background);
            width: 100%;
            aspect-ratio: 1;
          }

          div:not(.active)::after {
            opacity: 0.75;
          }
        }
      }
    }
  }

  &__result {
    border-radius: $sectionBorderRadius;
    background-color: var(--screen-background);
    padding: $sectionPadding;

    p {
      padding: 1rem;
      font-size: 3rem;
      color: var(--text-clr-primary);
      text-align: right;
    }
  }

  &__keyboard {
    $keyShadowSize: 6px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: $sectionBorderRadius;
    background-color: var(--keypad-background);
    padding: $sectionPadding;
    gap: 1.5rem;

    .key {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
      border-radius: $sectionBorderRadius;
      background-color: var(--key-background);
      padding: 0.5rem;
      padding-top: 1rem;
      font-size: 2rem;
      color: var(--text-keypad);
      cursor: pointer;
      transition: transform 0.1s, box-shadow 0.1s;
      box-shadow: 0 $keyShadowSize var(--key-shadow);

      &--small-fs {
        font-size: 1.5rem;
      }

      &--accent {
        background-color: var(--key-accent-background);
        color: var(--text-keypad--accent);
        box-shadow: 0 $keyShadowSize var(--key-accent-shadow);
      }

      &--primary {
        background-color: var(--key-primary-background);
        color: var(--text-keypad--primary);
        box-shadow: 0 $keyShadowSize var(--key-primary-shadow);
      }

      &--long {
        grid-column: span 2;
      }
    }

    .key:active {
      transform: translateY($keyShadowSize);
      box-shadow: unset;
    }
  }
}
